<!DOCTYPE html>
<html lang="dk" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>CRUD</title>
    <link rel="stylesheet" th:href="@{/css/style-activity-details.css}">
    <link rel="stylesheet" th:href="@{/css/crud-activities.css}">
</head>
<body>
<header th:replace="~{fragments/header :: header-element}"></header>

<div class="page-wrapper">
    <!-- Top section -->
    <div class="top-section">
        <div class="top-left">
            <img th:src="@{/img/win.png}" alt="winning" style="width: 100px; height: 125px;"/>
        </div>
        <div class="top-right">
            <form th:action="@{/activity/create}" th:object="${activity}" method="post">
                <div class="activity-info">
                    <input type="text" name="Activity-name" placeholder="Indsæt aktivitets navn"
                           th:field="*{activityName}">
                    <textarea class="box" name="Activity-detail" placeholder="Indsæt aktivitets detaljer"
                              th:field="*{activityDetail}"></textarea>
                </div>
                <div class="activity-info">
                    <h2>Krav</h2>
                    <textarea class="box" name="Activity-requirements" placeholder="Indsæt kravs detaljer"
                              th:field="*{activityRequimentDetail}"></textarea>
                </div>
            </form>
        </div>
    </div>

    <!-- Bottom section -->
    <div class="bottom-section">
        <div class="bottom-left">
            <div class="udstyr-header">
                <h2>Udstyr</h2>
                <button class="rediger-btn">Gem</button>
            </div>

            <form th:action="@{/activity/create}" th:object="${activity}" method="post">
                <select th:field="*{equipmentList}">
                    <option value="" disabled selected>Vælg udstyr</option>

                    <option th:each="eq : ${equipments}"
                            th:value="${equipments.id}"
                            th:text="${equipment.name}">
                    </option>

                </select>

                <th:block th:each="id : ${selectedEquipment}">
                    <input type="hidden" name="selectedEquipment" th:value="${id}">
                </th:block>

                <button type="submit">Tilføj</button>
            </form>

            <ul>
                <li th:each="id : ${selectedEquipment}">
                    <span th:text="${equipment.name}"></span>
                </li>
            </ul>


        </div>
        <div class="bottom-right">
            <table>


            </table>
        </div>
    </div>
</div>
</body>
</html>